/*** OPEN SANS ****************************************************/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
	src: url('../font/opensans/opensans-regular.eot'); /* IE9 Compat Modes */
	src: url('../font/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/opensans/opensans-regular.ttf') format('truetype') /* Safari, Android, iOS */
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	font-size: 13px;
    font-style: normal;
    font-weight: normal;
	height: auto; min-height: 100%;
	background: transparent url('../img/background-2.png') repeat center top;
}
.logo {
	width: 176px;
	height: 90px;
	background: #2c5f93 url('../img/logo.png') no-repeat center 19px;
}
header {
	position: relative;
	float: left;
	width: 784px;
	height: 60px;
	background-color: #f2a32b;
}
.titulo-menu {
	width: 784px;
	height: 30px;
	margin-top: 60px;
	color: #fff;
	padding-top: 5px;
	padding-left: 15px;
	background-color: #f9c700;
}
.principal {
	width: 960px;
	height: 100%;
	min-height: 100%;;
	margin: 30px auto;
}
.lateral {
	float: left;
	width: 176px;
}
.fundo-cinza-principal {
	background-color: #fff;
}
.conteudo {
	float: left;
	width: 760px;
	margin-top: 43px;
	margin-left: 12px;
	margin-bottom: 12px;
	padding: 15px;
	border: 1px #eaeaea solid;
	border-radius: 4px;
	background-color: #fff;
}

/* -- Menu lateral -- */
.menu {
	width: 176px;
	min-height: 400px;
	padding-bottom: 5px;
	background-color: #313131;
}
dl dt {
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	margin-left: 20px;
	padding-top: 20px;
	margin-bottom: 5px;
}
dl dd {
	padding: 7px;
	margin-top: -1px;
	cursor: pointer;
	border-left: 4px transparent solid;
}
dl dd:hover,
dl dd.menu-ativo {
	border-left: 4px #f9c700 solid;
	background-color: #42afdd;
}
dl dd a {
	color: #c1c1c1;
	margin-left: 20px;
}
dl dd:hover a {
	color: #fff;
	text-decoration: none;
}
dl dd.menu-ativo a {
	color: #fff;
	text-decoration: none;
}

/* ----------------------- */
/*  FORMATAÇÕES BOOTSTRAP  */
/* ----------------------- */
.row {
	margin-bottom: 20px;
}

.right {
	float: right;
}
.left {
	float: left;
}

input,
button.dropdown-toggle,
textarea {
	color: #808080 !important;
	border: 1px #ddd solid !important;
	box-shadow: none !important;
	background-color: #f9f9f9 !important;
	border-radius: 0 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    color: #878787 !important;
}
.caret {
    color: #42afdd !important;
}

.btn-azul {
	font-size: 13px !important;
	color: #fff !important;
	background-color: #42afdd !important;
}
.btn-azul:hover {
	background-color: #707070 !important;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

select option {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #c62626;
	white-space: nowrap;
}
/* -- Formata o input do datepicker -- */
.input-group-addon:last-child {
    border: none;
	padding: 0 0 0 6px;
	margin: 0;
	background-color: transparent;
	cursor: pointer;
}
.input-group .form-control:first-child {
	margin: 0 !important;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.calendario-datepicker {
	padding: 0 !important;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover {
	color: #fff !important;
	background-color: #c62626 !important;
}
.datepicker table tr td.active.active {
	color: #000 !important;
	background-color: #ebebeb !important;
}

/* -- Modal -- */
.modal-dialog {
	/*border: 2px red solid;*/
}

/* -- Formata as abas do menu superior -- */
#menu-abas li.active a {
	border-bottom: 1px #fff solid !important;
	color: #009a76;
	background: linear-gradient(to bottom, rgba(240,240,240,0.7) 0%, rgba(254,254,254,0.7) 42%, rgba(254,254,254,0.7) 100%);
}

/* -- Formata listas e chekboxes -- */
.list-group li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}
.list-group input[type="checkbox"] {
	margin-right: 10px;
	vertical-align: top;
}

thead tr th {
	color: #fff;
	font-weight: normal;
	border: none;
	background-color: #42afdd;
}

